@font-face {
    font-family: 'consolas';
	src: url('./font/Consolas.woff2') format('woff2'),
        url('./font/Consolas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
	padding-top: 10% ; 
	font-family: consolas;
	text-align: center;
}
.button1{
		font-size:50px;
		border:none;
		background-color:#FFFFFF;
}
.button2{
		font-size:50px;
		border:none;
		background-color:#FFFFFF;
}

