@font-face {
    font-family: 'consolas';
    src: url('./font/Consolas.woff2') format('woff2'),
        url('./font/Consolas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
	padding-top: 10% ; 
	font-family: consolas;
	font-weight: bold;
	text-align: center;
	font-size:20px;
}
.b1:hover{
		font-size:10px;
		border:2px;
}
.b2:hover{
		font-size:10px;
		border:2px;
}
		


